# ==========================================
# 1. CẤU HÌNH CHO SPRING BOOT (BACKEND)
# ==========================================
**/target/
*.jar
*.war
!**/src/main/**/target/
!**/src/test/**/target/

# ==========================================
# 2. CẤU HÌNH CHO ANDROID (FRONTEND)
# ==========================================
**/build/
/frontend/local.properties
*.jks
*.keystore

# ==========================================
# 3. CẤU HÌNH CHUNG (CÔNG CỤ & HỆ ĐIỀU HÀNH)
# ==========================================
.idea/
*.iml
*.iws
.gradle/
.DS_Store
*.log